<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name = "viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<title>
    TEMPERATURE AND HUMIDITY SENSOR WITH WEBSITE
</title>
</head>
<body>
    <div>

    </div>

    <div class="sensorInterface">
        <h2 class="time">
            12:01:45 PM
        </h2>

        <h1 class="temperature">
            Temperature: 34°C
        </h1>

        <h1 class="humidity">
            Humidity: 70%
        </h1>

        <button class="startRecording">
            Start Recording
        </button>

        <br>
        <button class="stopRecording">
            Stop Recording
        </button>
    </div>
</body>
</html>