<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name = "viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<title>
    TEMPERATURE AND HUMIDITY SENSOR WITH WEBSITE
</title>
</head>
<body>
    <div class="title">
        <h1>DHT11 MONITOR</h1>
    </div>
    <div id="container">
        <div class="chart">
            <canvas id="dht11Chart" width="900px" height="500px"></canvas> <!--palitan size if need-->
        </div>

        <div class="sensorInterface">
            <p class="timeInfo" id="timeDisplay"></p>
            <p>Temperature:</p>
            <p class="tempInfo" id="temperatureDisplay"></p>
            <p>Humidity:</p>
            <p class="humidInfo" id="humidityDisplay"></p>
            <img id="alertImage" src="../static/assets/notifications_250dp_434343_FILL0_wght400_GRAD0_opsz48.png" alt="Bell" width="150">
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/chart.umd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>